[user]
	email = lakemove@gmail.com
	name = Jay
[alias]
	l = log --pretty=oneline -n 20 --graph
	s = status -s
	d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
	ca = !git add -A && git commit -av
	go = !"git branch -v | rofi -dmenu | cut -c3- | awk '{print $1}' | xargs git checkout"
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	reb = "!r() { git rebase -i HEAD~$1; }; r"
[push]
	default = upstream
[pull]
	ff = only
[log]
	date = iso
[diff]
	tool = vimdiff
